.payment-container {
  margin-top: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-table th,
.payment-table td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: left;
  color: #fff;
}


.status.paid {
  color: green;
  font-weight: bold;
}

.status.pending {
  color: orange;
  font-weight: bold;
}

.status.failed {
  color: red;
  font-weight: bold;
}


/* Dropdown */

.dropdown {
  position: relative;
  width: 350px;
}

.dropdown-header {
  padding: 10px 14px;
  background-color: #272727;
  border: 1px solid #636363;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;;
}


.dropdown-search {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #636363;
  border-top: none;
  position: absolute;
  width: 100%;
  background: rgb(46, 46, 46);
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-list li{
    color: #fff;
}

.dropdown-item {
  padding: 10px 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #272727;
}

.arrow {
  font-size: 12px;
}


